<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="about content">
    <h2>About Us</h2>
    <p>This is the MarylandState 2024 site.</p>
    <p>This site focuses on displaying the most currently updated data on the State of Maryland from the US Census</p>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>