<nav>
    <div class="site-title">
      <a href="/"><h1>Maryland State Info</h1></a>
      <p>Maryland State Info Website</p>
    </div>
    <ul>
      <li><a href="/">Municipalities</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/workouts/create">New Municipality</a></li>
    </ul>
  </nav>